{% layout '_layout.liquid' %}
{% assign page = "404" %}
<div class="text-center">
  <h2 class="text-center pt-10">
    Sorry we couldn't find that page!
  </h2>
  <a href="/" class="mt-2 link link-primary" hx-boost="true" hx-target="#content">Go Home</a>
</div>
