<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello, world!</title>

    <meta name="htmx-config" content='{
      "allowScriptTags": false,
      "scrollIntoViewOnBoost": false
      }'>
</head>
<body>
<h1>Title from the layout</h1>
<nav hx-boost="true" hx-target="#content">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/todos">Todos</a>
</nav>
<br>
<div id="content">
    {% renderbody %}
</div>

<script src="static/htmx.org@2.0.3.min.js"></script>

</body>
</html>