{% layout '_layout.liquid' %}
{% assign page = "" %}

Hello World from the body
{% block some-content %}
<div class="content">
Name: {{ Name }} <br />
IsComplete: {{ Done }}
</div>
{% endblock %}
<br>
<button hx-trigger="click" hx-get="/fragment" hx-target=".content" class="btn btn-accent mt-2">Get Todo</button>