{% layout '_layout.liquid' %}
{% assign page = "login" %}

<div class="flex justify-center">
  <div class="text-center w-1/2 self-auto">
    <h2 class="text-center pt-6">
      Login
    </h2>
    <form hx-post="/login"
          hx-target="#content">
      <input type="hidden" name="__RequestVerificationToken" value="{{ csrf }}">
      <div class="mb-4">
        <label class="label" for="email">Email</label>
        <input type="text" name="email" class="input input-bordered w-full" id="email" value="{{ form.Email }}" required>
      </div>
      <div class="mb-4">
        <label class="label" for="password">Password</label>
        <input type="password" name="password" class="input input-bordered w-full" id="password" required>
      </div>
      <div class="mb-4">
        <button class="btn btn-primary px-7" type="submit">Login</button>
        <span class="htmx-indicator loading loading-spinner text-primary ms-4 align-middle"></span>
      </div>

      <div id="errors">
        {% if errors %}
          <div class="alert alert-error">
            {{ errors.general }}
          </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
